\#*\#
/.cache

# My personal (and private) TODO list related to this project
/LATER.org

/private.el
/settings.el

/projectile-bookmarks.eld
/projectile.cache

/helm-adaptive-history
/ac-comphist.dat

/quelpa
/elpa/
/eshell/
/site-lisp/
/transient/
/semanticdb/
/.local/cache/
